nav {
    background-color: #333;
    display: flex;
    justify-content: center; /* Centered by default */
    align-items: center;
    padding: 10px 0;
    z-index: 1000; /* High z-index to ensure visibility */
}
.portal-name {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px; /* Space between the portal name and navigation buttons */
    padding-left: 10px; /* Padding on the left for spacing */
}
button {
    background: transparent;
    color: white;
    border: none;
    display: flex;
    align-items: center; /* Aligns icon with text */
    gap: 2px; /* Adds space between icon and text */
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 50px; /* Larger margin on larger screens */
}

button:hover {
    background-color: #555;
}

button:focus {
    outline: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    button {
        padding: 8px 10px; /* Smaller padding */
        margin: 0 20px; /* Smaller margin */
        font-size: 14px; /* Smaller font size if necessary */
    }
    nav {
        justify-content: space-around; /* Adjust spacing to spread out buttons */
    }
}

@media (max-width: 480px) {
    button {
        padding: 5px 8px; /* Even smaller padding */
        margin: 0 10px; /* Even smaller margin */
        font-size: 12px; /* Even smaller font size */
    }
    nav {
        flex-direction: column; /* Stack buttons vertically */
        padding: 10px; /* Adjust padding for better vertical spacing */
    }
}
