/* Profile and Summary layout */
.profile-summary {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: space-around; /* Spaces items evenly */
    margin-bottom: 20px; /* Adds space between sections */
    padding: 20px 0; /* Padding on top and bottom */
}

.image-container img {
    width: 150px; /* Adjust size as necessary */
    height: auto;
    border-radius: 10px; /* Rounded corners for the image */
    margin-right: 20px; /* Adds right margin for spacing between image and summary */
}

.summary-container {
    flex-grow: 1;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left;
}

/* Dashboard and Chatbot layout */
.dashboard-chatbot-container {
    display: flex;
    justify-content: space-around; /* Adjust spacing around items */
    margin-top: 20px;
    gap: 20px; /* Ensures space between containers */
}

.dashboard-container, .chatbot-container {
    width: calc(50% - 10px); /* Adjust width to account for the gap */
    min-height: 340px;
    background-color: #fff;
    padding: 30px; /* Increased from 20px to 30px for better spacing */
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer; /* Indicates that these are clickable */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}
.dashboard-container h4, .chatbot-container h4 {
    font-size: 18px; /* Increase font size for headings */
    color: #0056b3; /* Theme color for headings */
    margin-bottom: 10px; /* Space between heading and text */
}

.dashboard-container p, .chatbot-container p {
    font-size: 16px; /* Text font size */
    line-height: 1.5; /* Line height for better readability */
    color: #333; /* Darker text for better readability */
}
.dashboard-container:hover, .chatbot-container:hover {
    transform: translateY(-5px); /* Slight raise effect on hover */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.view-toggle {
    display: flex; /* Align children in a row */
    justify-content: center; /* Center children horizontally */
    margin: 20px 0; /* Margin above and below for spacing */
    gap: 10px; /* Space between buttons */
}
/* Enhancing button styles for a more modern look */
.view-toggle button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Consistent styling with containers */
    cursor: pointer;
}

.view-toggle button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

/* Improving table visibility and styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
